@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
}

html {
  --bg: #24252A;
  --bottom-line: #d964ff;
  --color-headings: #0077FF;
  --color-body: #161616;
  --color-text: white;
}

html[data-theme='light'] {
  --bg: #FCFCFC;
  --bottom-line: #808080;
  --color-headings: #0077FF;
  --color-body: #e5e5e5;
  --color-text: #333333;
}

li, a, input{
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: var(--color-text);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bottom-line);
  background-color: var(--bg);
  padding: 10px 5%;
}

body {
  background-color: var(--color-body);
}

.logo {
  cursor: pointer;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0px 20px;
}

.nav li a {
  transition: all 0.3s ease 0s;
}

.nav li a:hover {
  text-shadow: 0 0 10px white;
  color: ;
}

img {
  width: 5%;
}

/*Toggle Switch*/
.fa-moon {
  cursor: pointer;
  position: relative;
  background: transparent;
  text-shadow: 0 0 30px #f0c420;
  color: #f0c420;
}
.fa-sun {
  opacity: 0;
  background:transparent;
  color: #ff7300;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}
.checkbox {
  opacity: 0;
  position: absolute;
  display: none;
}
.label {
  background-color: #111111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
  justify-content: space-between;
	padding: 5px;
	position: relative;
  width: 30px;
  height: 12px;
}
.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 20px;
	height: 16px;
	width: 16px;
	transform: translateX(0px);
	transition: transform 0.3s linear;
}
.checkbox:checked + .label .fa-moon{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 400ms
}
.checkbox:checked + .label .fa-sun{
  text-shadow: 0 0 30px white;
  visibility: visible;
  opacity: 100;
  text-shadow: 0 0 30px red;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.checkbox:checked + .label {
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.checkbox:checked + .label .ball {
	transform: translateX(-16px);
}
