@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}

li, a, input{
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #edf0f1;
  text-decoration: none;
}
html {
  height: 100%;
  --bg: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d964ff;
  padding: 10px 5%;
}

.logo {
  cursor: pointer;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0px 20px;
}

.nav li a {
  transition: all 0.3s ease 0s;
}

.nav li a:hover {
  text-shadow: 0 0 10px white;
  color: ;
}

img {
  width: 3%;
}

/*Toggle Switch*/
.fa-moon {
  cursor: pointer;
  position: relative;
  background:transparent;
  text-shadow: 0 0 30px #f0c420;
  color: #f0c420;
}
.fa-sun {
  opacity: 0;
  background:transparent;
  color: white;
}
.light {
  color: yellow;
  box-shadow: 0 0 10px yellow;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  background-color: #111111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
  justify-content: space-between;
	padding: 5px;
	position: relative;
  width: 38px;
  height: 20px;
}
.checkbox:checked + .label .fa-moon{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 400ms
}
.checkbox:checked + .label .fa-sun{
  text-shadow: 0 0 30px white;
  visibility: visible;
  opacity: 100;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.checkbox:checked + .label {

  background: linear-gradient(90deg, rgba(18,194,233,1) 0%, rgba(196,113,237,1) 52%, rgba(246,79,89,1) 100%);
  transition: background-color 2s linear;
}
/*Toggle Switch End*/

.checkbox:checked + .label .ball {
	transform: translateX(-16px);
}

.label .ball {
  opacity: 100;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 19px;
	height: 16px;
	width: 16px;
	transform: translateX(0px);
	transition: transform 0.3s linear;
}
